.page {
    display: none;
}
.page.active {
    display: block;
}
.mrgtop-60 {
    margin-top: 60px;
}
.mrgbot-60 {
    margin-bottom: 60px;
}
.font500 {
    font-size: 150px;
}
.transpage {
    background: #ccc;
}